node_modules/
dist/
.env
*.env
*.env.local
*.env.production
.DS_Store
Thumbs.db
server/uploads/*
!server/uploads/.gitkeep
!server/uploads/products/
server/uploads/products/*
!server/uploads/products/.gitkeep
